[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "confluent-kafka>=2.12.2",
    "fastapi>=0.124.4",
    "uvicorn>=0.38.0",
    "websockets>=15.0.1",
]
